<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>this is a work of art done by the best team in the world
    fi khatar fethi sahbi
    <%= title %>
  </p>
</body>

</html>